/*
  Color Palette
  Nude: #E2D9CA
  Blue Gray: #4A94A8
  Dark Blue: #2B293C
  Purple: #6A4973
*/

body {
 background-color: #2B293C;
}
h1 {
 background-color: #4A94A8;
 color: white;
 border-style: solid;
 border-color: #6A4973;
 text-align: center;
 margin: auto;
 width: 50%;
 padding: 10px;
}
h2 {
 background-color: #4A94A8;
 border-style: solid;
 border-color: #6A4973;
 text-align: center;
 margin: auto;
 width: 20%;
 padding: 10px;
 color: white;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

